<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello to bootcamp, from {{ name }}</h1>
    <p>file name = basic1.html</p>
    <h3>specify the name bellow</h3>
    <form action="/basic1" method="post">
        <input type="text" name="nameFromHtml" id="name">
        <button type="submit">send name</button>
    </form>
    <a href="http://localhost:5000/hello">go to hello page</a>
</body>
</html>